---
import '../styles/global.css'
const pageTitle = "Mon blog"
import Footer from "../components/Footer.astro";
import Header from '../components/Header.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
</head>
<body>
<Header/>
<h1>{pageTitle}</h1>
<p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
<ul>
  {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>
<Footer/>
<script>
  import "../scripts/menu.js";
</script>
</body>

</html>
